// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 45rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

.social-media-list {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

.social-media-list {
  display: table;
  li {
    float: left;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 7.5px;
      // &:hover { border-color: $border-color-02 }
    }
  }
}
