ul.tags {
  display: block;
  list-style: none;
  margin: var(--spacer) 0;
  padding: 0;
}

li.tag {
  background-color: var(--gray-100);
  border-radius: 9999rem;
  color: var(--gray-700);
  display: inline-block;
  font-size: 85%;
  padding: 0.3rem 1rem;
  margin: calc(var(--spacer)/2) calc(var(--spacer)/4);
}
