// Table of Contents

#markdown-toc {
  border: dashed var(--border-color);
  border-width: 0.2rem 0;
  padding: var(--spacer-2);

  li {
    list-style: none;
  }

  // Subheadings
  ul {
    font-size: 90%;
  }
}
